@page
@model GerenciadorUsuarios.Pages.Clients.EditModel
@{
}

<br />
<h2>Editar Usuário</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <input type="hidden" name="id" value="@Model.usuariosInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nome" value="@Model.usuariosInfo.nome" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Sobrenome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="sobrenome" value="@Model.usuariosInfo.sobrenome" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.usuariosInfo.email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Data Nascimento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="dataNascimento" value="@Model.usuariosInfo.dataNascimento" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Escolaridade</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="escolaridade" value="@Model.usuariosInfo.escolaridade" />
        </div>
    </div>

    @if (Model.sucessMessage.Length > 0)
    {
        <div class="row-mb-3">
            <div class="col-sm-9">
                <div class="alert alert-sucess alert-dismissible fade show" role="alert">
                    <strong>@Model.sucessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row-mb-12">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
