@page
@model GerenciadorUsuarios.Pages.Clients.UsuariosModel
@{
}
<br />
<h2>Gerenciador de Usuários</h2>
<!-- Botão para cadastrar usuário-->
<a class="btn btn-primary btn-sm" href="/Create">Novo Cadastro</a> 
<!--Tabela com as nomenclaturas das colunas-->



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Data Nascimento</th>
            <th>Escolaridade</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!--Informações que estão no banco para aparecer na tabela-->
@foreach (var item in Model.listUsuarios)
{
     <tr>
         <td>@item.id</td>
         <td>@item.nome</td>
         <td>@item.sobrenome</td>
         <td>@item.email</td>
         <td>@item.dataNascimento</td>
         <td>@item.escolaridade</td>

         <td>
             <!--Botões de editar e excluir do banco-->
             <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Editar</a>
             <a class="btn btn-danger btn-sm" onclick="confirmar(@item.id)" >Excluir</a>
         </td>
     </tr>       
}

    </tbody>
</table>

<script>
    function confirmar(id) {
        var resultado = confirm("Deseja excluir esse usuário?");
    if (resultado == true) {
        alert("Excluído com sucesso"); 
        window.location.href = "/Clients/Delete?id="+id;
    }
    else {
        alert("Ação cancelada");
        }

     }
</script>
 


