@page
@model GerenciadorUsuarios.Pages.UsuariosModel
@{
}
<br />
<h2>Gerenciador de Usuários</h2>
<!-- Botão para cadastrar usuário-->
<a asp-page="create" class='btn btn-primary btn-sm'>Novo Cadastro</a> 
<!--Tabela com as nomenclaturas das colunas-->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Data Nascimento</th>
            <th>Escolaridade</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!--Informações que estão no banco para aparecer na tabela-->
@foreach (var usuarios in Model.listUsuarios)
{
     <tr>
         <td>@usuarios.id</td>
         <td>@usuarios.nome</td>
         <td>@usuarios.sobrenome</td>
         <td>@usuarios.email</td>
         <td>@usuarios.dataNascimento</td>
         <td>@usuarios.escolaridade</td>
         <td>
             <!--Botões de editar e excluir do banco-->
             <a asp-page="Edit" class="btn btn-primary btn-sm" href="/Client/Edit?id=@usuarios.id">Editar</a>
             <a asp-page="Delete" class="btn btn-danger btn-sm" href="/Client/Delete?id=@usuarios.id">Excluir</a>
         </td>
     </tr>       
}

    </tbody>
</table>